@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("react-toastify/dist/ReactToastify.css");

* {
  background: var(--base300);
  font-synthesis: none;
  text-rendering: 'optimizeLegibility';
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
  -webkit-text-size-adjust: '100%';
}

body {
  background: #202024;
}

.show {
  visibility: visible !important;
}
